table.mainTable {
  border-bottom: #ddd solid 2px;
}

table.mainTable > tbody > tr:last-of-type > td:first-of-type {
  vertical-align: middle;
  width: 150px;
}

table.mainTable > tbody > tr:last-of-type > td:last-of-type {

}

table.innerTable {
  border-left: #ccc solid 1px;
  margin-bottom: 0;
}

table.innerTable > tbody > tr:first-of-type {
  font-size: 20px;
}

table.innerTable > tbody tr td {
  border: none;
}