.questionPendingContainer,
.questionResultContainer {
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.questionPendingContainer .radioFormGroup {
  text-align: left;
  border-top: #ddd solid 2px;
  border-bottom: #ddd solid 2px;
  margin-bottom: 10px;
}

.questionPendingContainer .radioFormGroup > .form-group {
  margin-bottom: 0;
}

.questionResultContainer .resultContainer > div {
  padding: 10px;
}

.questionResultContainer .resultContainer .hightlight {
  border: yellowgreen solid 5px;
  border-radius: 10px;
}

.questionResultContainer .resultContainer .progress {
  margin-bottom: 10px;
}

.questionResultContainer .resultContainer .hightlight::after {
  content: 'Your Vote';
  background-color: yellowgreen;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}